.dropdown-menu li a:hover{
    background-color: #ffc107 !important;
}
.nav-link{
    border: 1px solid transparent;
    border-left: none;
    border-right: none;
}
.nav-link:hover{
    border: 1px solid rgb(255, 193, 7);
    border-left: none;
    border-right: none;
}
.profile-dropdown li a{
    color:#ffc107;
}
.profile-dropdown li a:hover{
    color: white;
}